/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }

   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
    overflow: hidden;
	height: auto;
   }
   #header{
    height: 150px;
    background-color: green;
    display: block
   }
   #navigation{
    height: 300px;
    width: 200px;
    margin: 20px 20px 20px 0;
    background-color: blue;
    /* display: inline-block; */
    float: left;
   }
   #main_content{
    height: 400px;
    width: 700px;
    margin: 20px 20px 0 0;
    
    background-color: red;
    display: inline-block;
    
   }
   .subcontents{
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 20px 10px 20px 10px;
    
   }

   #advertisement{
    height: 120px;
    width: 660px;
    background-color: purple;
    display: block;
    margin: 0 0 0 20px;

   }

   .clear {
       clear: both;
   }